@tailwind base;
@tailwind components;
@tailwind utilities;

.category-btn-group::-webkit-scrollbar {
    display: none;
  }
  
  .category-btn-group {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }